---
variables:
  DOCKER_HOST: tcp://docker:2375
  GO_VERSION: "1.24"
  DOCKER_VERSION: "26.0"
stages:
  - bots
  - check-commit
  - generate
  - build
  - lint
  - test
  - e2e
pipelines-check:
  stage: bots
  needs: []
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [""]
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  tags:
    - go
  script:
    - go run cmd/gitlab-mr-pipelines/main.go
build-specification:
  stage: build
  needs: []
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go run cmd/specification/*.go -file specification/haproxy-spec.yaml > specification/build/haproxy_spec_to_compare.yaml
    - diff -u specification/build/haproxy_spec_to_compare.yaml specification/build/haproxy_spec.yaml
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

yaml-lint:
  stage: lint
  needs: ["build-specification"]
  image:
    name: $CI_REGISTRY_GO/cytopia/yamllint:latest
    entrypoint: [""]
  tags:
    - go
  script:
    # to test locally, run:  docker run --rm -v $(pwd):/data cytopia/yamllint .
    - /bin/sh -c "yamllint -f colored ."
    - chmod +x ./specification/scripts/lint-yaml.sh
    - /bin/sh -c ./specification/scripts/lint-yaml.sh
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

generate:
  stage: generate
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [""]
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  before_script:
    - rm -rf models/*
    - make models
  script:
    - test -z "$(git diff 2> /dev/null)" || exit "Models are not generated, issue \`make models\` and commit the result"
    - test -z "$(git ls-files --others --exclude-standard 2> /dev/null)" || exit "Models generation created untracked files, cannot proceed"
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

build:
  stage: build
  needs: []
  tags:
    - go
  before_script:
    - mkdir -p .go
  script:
    - go build
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

tidy:
  stage: lint
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go mod tidy
    - test -z "$(git diff 2> /dev/null)" || exit 'Go modules not tidied, issue \`go mod tidy\` and commit the result'
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

lint:
  stage: lint
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - make lint
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

license-check:
  stage: lint
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go install github.com/google/go-licenses@latest
    - PROJECT="$(go list -m)"
    - ALLOWED_LICENSES="$(<.allowed_license_types)"
    - go-licenses report --ignore "$PROJECT" .
    - go-licenses check --allowed_licenses="$ALLOWED_LICENSES" --ignore "$PROJECT" .
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

lint-commit-msg:
  stage: lint
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/commit-check:5.1.1
    entrypoint: [""]
  tags:
    - go
  script:
    - /check
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'

test:
  stage: test
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - go test ./...
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'

test-equal:
  stage: test
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/golang:$GO_VERSION
    entrypoint: [""]
  tags:
    - go
  script:
    - gotest -v -t equal
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
.e2e:
  stage: e2e
  needs: ["build"]
  image:
    name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-go$GO_VERSION
    entrypoint: [""]
  services:
    - name: $CI_REGISTRY_GO/docker:$DOCKER_VERSION-dind
      alias: docker
  tags:
    - go
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_PIPELINE_SOURCE == 'push'
  before_script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY_GO
    - docker pull -q $CI_REGISTRY_GO/golang:$GO_VERSION-alpine
    - docker image tag $CI_REGISTRY_GO/golang:$GO_VERSION-alpine golang:$GO_VERSION-alpine
    - docker pull -q $CI_REGISTRY_GO/haproxy-alpine:$HAPROXY_VERSION
    - docker image tag $CI_REGISTRY_GO/haproxy-alpine:$HAPROXY_VERSION haproxytech/haproxy-alpine:$HAPROXY_VERSION
  script:
    - DOCKER_HAPROXY_VERSION=$HAPROXY_VERSION make e2e-docker
HAProxy-2.2:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "2.2"
HAProxy-2.4:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "2.4"
HAProxy-2.6:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "2.6"
HAProxy-2.8:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "2.8"
HAProxy-2.9:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "2.9"
HAProxy-3.0:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "3.0"
HAProxy-3.1:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "3.1"
HAProxy-3.2:
  extends: .e2e
  variables:
    HAPROXY_VERSION: "3.2"
